ENV["EMAIL_USERNAME"] = 'PUT YOUR EMAIL USER NAME HERE'
ENV["EMAIL_PASSWORD"] = 'PUT YOUR EMAIL PASSWORD HERE'
ENV["GOOGLE_MAP_API_KEY"] = 'PUT YOUR GOOGLE_MAP_API_KEY HERE'
# Step 2 - OmniAuth: Generate your keys and place it here
ENV['GITHUB_KEY']='PUT HERE YOUR GITHUB API_KEY'
ENV['GITHUB_SECRET']='PUT HERE YOUR GITHUB SECRET_KEY'
ENV['STRIPE_PUBLISHABLE_KEY'] = "Put your stripe Publishable_key here"
ENV['STRIPE_SECRET_KEY'] = "Put your stripe SECRET_KEY here "